.container {
  background-color: #ffc2a0;
  padding: 60px;
}
.sub-container {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 40px;
  border-radius: 10px;
}
.heading {
  color: #ff8542;
  font-family: Roboto;
  font-weight: bold;
  text-align: center;
  font-size: 40px;
}
